---
title: stretchly - break time reminder app
priority: 1.0
icon: '/img/stretchly.ico'
---
<div class="index">
  <h1 class="index__name">
    <a href="/">Jan Hovancik</a>
  </h1>
  <h2 class="index__desc">
    software developer - guitar player - poetry lover
  </h2>
  <div class="center">
    &middot;
  </div>
  <p>
    <img src="/img/stretchly_128x128.png" alt="stretchly" height="90" style="float: right;"/>
  </p>
  <h3><a href="/stretchly">stretchly</a></h3>
  <p>
    break time reminder app
  </p>
  <p>
    <i>stretchly</i> is cross-platform <a href="http://github.com/hovancik/stretchly">open source</a>
    app that reminds you to take breaks when working with computer.
  </p>
  <p>
    By default, it runs in your tray and shows reminder window every 10 minutes,
    that is open for 20 seconds, containing idea for microbreak.
  </p>
  <p>
    <img src="/img/stretchly-microbreak.png" alt="stretchly" width="100%"/>
  </p>
  <p>
    Every 30 minutes, it shows window containing idea for longer 5 minute break.
  </p>
  <p>
    <img src="/img/stretchly-break.png" alt="stretchly" width="100%"/>
  </p>
  <p>
    You can pause/resume reminding of breaks.
    On Windows and macOS, you can set app to start at login.
  </p>
  <p>
    <img src="/img/stretchly-tray-1.png" alt="stretchly" width="60%"/>
  </p>
  <p>
    You can also skip to the next break or microbreak anytime from menu,
    or reset (restart) breaks.
  </p>
  <p>
    <img src="/img/stretchly-tray-1.png" alt="stretchly" width="60%"/>
  </p>
  <p>
    Microbreaks and breaks can be customized:
    <ul>
      <li>
        you can set duration and interval of break
      </li>
      <li>
        you can enable/disable breaks
      </li>
      <li>
        you can enable/disable strict mode (breaks can't be finished early)
      </li>
      <p>
        <img src="/img/stretchly-settings-website-1.png" alt="stretchly setting" width="100%"/>
      </p>
      <li>
        you can choose from different color schemes
      </li>
      <li>
        you can pick a sound to be played at the end of the break
      </li>
      <p>
        <img src="/img/stretchly-settings-website-2.png" alt="stretchly setting" width="100%"/>
      </p>
      <li>
        you can set break window to be fullscreen
      </li>
      <p>
        <img src="/img/stretchly-settings-website-3.png" alt="stretchly setting" width="100%"/>
      </p>
    </ul>
  </p>
  <p>
    All settings can be reset to defaults.
  </p>
  <h3>Advanced settings</h3>
  <p>
    All settings are saved in JSON file.
    To learn more about how to find it, read
    <a href="https://github.com/electron/electron/blob/master/docs/api/app.md#appgetpathname">this</a>.
    Related code looks like this:
    <blockquote>
      <p>
        const dir = app.getPath('userData')<br/>
        const settingsFile = `${dir}/config.json`
      </p>
    </blockquote>
  </p>
  To use your own break ideas, change <code>useIdeasFromSettings: false</code>
  to <code>useIdeasFromSettings: true</code>, and edit <code>breakIdeas</code> and <code>microbreakIdeas</code>.
  <div class="center">
    &middot;
  </div>
  <p class="center">
    <a href="/blog/tags/stretchly/">news</a>
    <a href="https://github.com/hovancik/stretchly/releases">downloads</a>
    <a href="https://github.com/hovancik/stretchly/issues">issues</a>
  </p>
  <div class="center">
    &middot;
  </div>
  <p id="donate">
    If you like it,  consider supporting it via flattr or paypal.
  </p>
  <div class="center">
    &middot;
  </div>
  <p class="center">
    <script id='fbp11a7'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//button.flattr.com/view/?fid=en32oj&button=compact&url=https%3A%2F%2Fhovancik.net%2Fstretchly';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbp11a7');</script>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="center">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBe8I9/gcgodWSbHw4g7RaZ3MnbjClsGOAi86pwWmkkPruY1pTgzq952y2iJp5ABYrBW2bdPZYR0K0fDST0ILtNjDkA4YtrcBt+w3cZczp4ECKO93ihCokrq4JdXOyFS0EaOGwmlsP5qcTGogl37UYTlgHYhZvCQnVdYiSU/S8bFjELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIuWMfD6BJEb+AgaCZ9lQl1xpwXGD6ruOeO5BA8C9vJNM9gQT7SBKJtgeYjrHz31tMrd/lhugBF6KCWIG6C1ubKZORFqsUgk6sVIuPnkaTByZUOla/U6fUbHnikA8kQyPqlX9FLfqqjw+fIjB0AbTgbPk8l5eUiHFzKhUXuOWrs8bIc4tKI78S1M7uKGUdB9Vih3tZ9HUzl8vImo4Rassz2NBiEfXcJqDr2JJioIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTYxMjEwMTkxMjA3WjAjBgkqhkiG9w0BCQQxFgQUhO7PuqNeDMmw3F9Txrk7lyPrZCEwDQYJKoZIhvcNAQEBBQAEgYB33lQBvKIo9iQEbI+xxakuUQlALu0v6sAp/YMu0sfehY/EjOkFAaRbb8mwgAREfwdWq988Sg/M9EfFKS6YDayeiU8wqQdQZEI2Czf936TRwZIjtzn+4CQerhJd6Xv8N/kEXpQTKktBQnLukHKtfUW6qkFdmh2B0KhHJ82m0K9P9g==-----END PKCS7-----
      ">
      <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <a href="https://beerpay.io/hovancik/stretchly"><img style="display: block; margin: 0 auto;" src="https://beerpay.io/hovancik/stretchly/badge.svg?style=flat" /></a>
  </p>
  <div class="center">
    &middot;
  </div>
  <p>
    Another way to support it is to like it at <a href="https://alternativeto.net/software/stretchly/">AlternativeTo</a>
    and on softpedia <a href="http://www.softpedia.com/get/Others/Home-Education/stretchly.shtml">1</a>,
    <a href="http://mac.softpedia.com/get/Utilities/stretchly.shtml">2</a> or anywhere else.
  </p>
  <div class="center">
    &middot;
  </div>
</div>
<footer>
  <p class="footer__name"><%= link_to "Jan Hovancik", "/" %> 2014+</p>
  <p class="footer__desc">
    software developer - guitar player - poetry lover
  </p>
</footer>
<div class="center">
  &middot;
</div>
