---
title: Stretchly - The break time reminder app
priority: 1.0
icon: '/stretchly/img/favicon.ico'
---
<%= partial '/partials/header' %>
<%= partial '/partials/stretchly_header' %>

<img src="/stretchly/img/minibreak.png" alt="Stretchly"/>

----

*Stretchly* is free but you can support it by contributing code or money.

[![Become a Patron!](https://img.shields.io/static/v1?label=Sponsor&message=%E2%9D%A4&logo=Patreon&color=success)](https://www.patreon.com/hovancik) [![Become a Sponsor!](https://img.shields.io/static/v1?label=Sponsor&message=%E2%9D%A4&logo=GitHub&color=success)](https://github.com/sponsors/hovancik/button) [![Donate with PayPal](https://img.shields.io/static/v1?label=Donate&message=%E2%9D%A4&logo=Paypal&color=success)](https://paypal.me/JanHovancik)

You will be rewarded by getting access to extra preferences (+ other perks) available only to Contributors. You can access the extra preferences after authenticating with Patreon or Github in the "Love Stretchly" section of Preferences.

Another way to support it is to tell your friends about it, to like it at <a href="https://alternativeto.net/software/stretchly/">AlternativeTo</a>
and on softpedia <a href="http://www.softpedia.com/get/Others/Home-Education/stretchly.shtml">1</a>, <a href="http://mac.softpedia.com/get/Utilities/stretchly.shtml">2</a> or anywhere else.
