---
title: stretchly - break time reminder app
priority: 1.0
icon: '/img/stretchly.ico'
---
<div class="index">
  <h1 class="index__name">
    <a href="/">Jan Hovancik</a>
  </h1>
  <h2 class="index__desc">
    software developer - guitar player - poetry lover
  </h2>
  <div class="center">
    &middot;
  </div>
  <p>
    <img src="/img/stretchly_128x128.png" alt="stretchly" height="90" style="float: right;"/>
  </p>
  <h3><a href="/stretchly">stretchly</a></h3>
  <p>
    break time reminder app
  </p>
  <p>
    <i>stretchly</i> is cross-platform <a href="http://github.com/hovancik/stretchly">open source</a>
    app that reminds you to take breaks when working with computer.
  </p>
  <p>
    <img src="/img/stretchly-microbreak.png" alt="stretchly" width="100%"/>
  </p>
  <div class="center">
    &middot;
  </div>
  <p class="center">
    <a href="/stretchly/features">features</a>
    <a href="/blog/tags/stretchly/">news</a>
    <a href="https://github.com/hovancik/stretchly/releases">downloads</a>
    <a href="https://github.com/hovancik/stretchly/issues">issues</a>
  </p>
  <div class="center">
    &middot;
  </div>
  <p id="donate">
    If you like it, consider supporting it via flattr, paypal or buy me a beer.
  </p>
  <div class="center">
    &middot;
  </div>
  <p class="center">
    <a href="https://www.patreon.com/bePatron?u=2449338" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="center">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBe8I9/gcgodWSbHw4g7RaZ3MnbjClsGOAi86pwWmkkPruY1pTgzq952y2iJp5ABYrBW2bdPZYR0K0fDST0ILtNjDkA4YtrcBt+w3cZczp4ECKO93ihCokrq4JdXOyFS0EaOGwmlsP5qcTGogl37UYTlgHYhZvCQnVdYiSU/S8bFjELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIuWMfD6BJEb+AgaCZ9lQl1xpwXGD6ruOeO5BA8C9vJNM9gQT7SBKJtgeYjrHz31tMrd/lhugBF6KCWIG6C1ubKZORFqsUgk6sVIuPnkaTByZUOla/U6fUbHnikA8kQyPqlX9FLfqqjw+fIjB0AbTgbPk8l5eUiHFzKhUXuOWrs8bIc4tKI78S1M7uKGUdB9Vih3tZ9HUzl8vImo4Rassz2NBiEfXcJqDr2JJioIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTYxMjEwMTkxMjA3WjAjBgkqhkiG9w0BCQQxFgQUhO7PuqNeDMmw3F9Txrk7lyPrZCEwDQYJKoZIhvcNAQEBBQAEgYB33lQBvKIo9iQEbI+xxakuUQlALu0v6sAp/YMu0sfehY/EjOkFAaRbb8mwgAREfwdWq988Sg/M9EfFKS6YDayeiU8wqQdQZEI2Czf936TRwZIjtzn+4CQerhJd6Xv8N/kEXpQTKktBQnLukHKtfUW6qkFdmh2B0KhHJ82m0K9P9g==-----END PKCS7-----
      ">
      <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </p>
  <div class="center">
    &middot;
  </div>
  <p>
    Another way to support it is to like it at <a href="https://alternativeto.net/software/stretchly/">AlternativeTo</a>
    and on softpedia <a href="http://www.softpedia.com/get/Others/Home-Education/stretchly.shtml">1</a>,
    <a href="http://mac.softpedia.com/get/Utilities/stretchly.shtml">2</a> or anywhere else.
  </p>
  <div class="center">
    &middot;
  </div>
  <p>
    Sounds used in this application are listed <a href="http://freesound.org/people/hovancik/bookmarks/category/58865/">here</a>.
    <ul>
      <li>
        crystal glass by <a href="http://freesound.org/people/mlteenie/">mlteenie</a>,
        available under the <a href="http://creativecommons.org/licenses/by/3.0/">Attribution License</a>.
      </li>
      <li>
        wind chime by <a href="http://freesound.org/people/GnoteSoundz/">GnoteSoundz</a>,
        available under <a href="http://creativecommons.org/publicdomain/zero/1.0/">the Creative Commons 0 License</a>.
      </li>
      <li>
        tic toc by <a href="http://freesound.org/people/magundah14/">magundah14</a>,
        available under <a href="http://creativecommons.org/publicdomain/zero/1.0/">the Creative Commons 0 License</a>.
      </li>
      <li>
        silence by <a href="http://freesound.org/people/parcodeisuoni/">parcodeisuoni</a>,
        available under the <a href="http://creativecommons.org/licenses/by/3.0/">Attribution License</a>.
      </li>
    </ul>
  </p>
  <div class="center">
    &middot;
  </div>
</div>
<footer>
  <p class="footer__name"><%= link_to "Jan Hovancik", "/" %> 2014+</p>
  <p class="footer__desc">
    software developer - guitar player - poetry lover
  </p>
</footer>
<div class="center">
  &middot;
</div>
