---
title: Stretchly - The break time reminder app
priority: 1.0
icon: '/stretchly/img/favicon.ico'
description: 'Sponsor'
---
<%= partial '/partials/header' %>
<%= partial '/partials/stretchly_header' %>

## Sponsor

***Stretchly* is free but you can support it by contributing code, translations or money.** You will be rewarded by getting access to **Contributor Preferences**, ability to **Sync Preferences**, chat on **Discord** and more!

### [Sponsoring on Github](https://github.com/sponsors/hovancik) [![Become a Sponsor!](https://img.shields.io/static/v1?label=Sponsor&message=%E2%9D%A4&logo=GitHub&color=success)](https://github.com/sponsors/hovancik)

GitHub Sponsors **does not charge any fees** for sponsorships from user accounts, so 100% of these sponsorships go to the sponsored developer or organization. [Github Sponsors Matching Fund](https://docs.github.com/en/free-pro-team@latest/github/supporting-the-open-source-community-with-github-sponsors/about-github-sponsors#about-the-github-sponsors-matching-fund) will also **match every donation**.

*You will be able to access Contributor Preferences, Sync Preferences.
You won't be able to chat on Discord.*

### [Sponsoring on Patreon](https://www.patreon.com/hovancik) [![Become a Patron!](https://img.shields.io/static/v1?label=Sponsor&message=%E2%9D%A4&logo=Patreon&color=success)](https://www.patreon.com/hovancik)

Patreon [has fees](https://support.patreon.com/hc/en-us/articles/360027674431-Creator-fees-breakdown) plus it uses PayPal, which has its fees as well.

*You will be able to access Contributor Preferences, Sync Preferences and Discord chat.*

### Donating with Crypto currencies

#### Bitcoin
![Bitcoin](/img/bitcoin.png){:height="80px" width="80px"} `3EyJNtJPuQjfqP5czN88kPySwxVjv7h42y`

#### Ethereum

![Ethereum](/img/ethereum.png){:height="80px" width="80px"} `0x377f05E76e96EC4C19fF225e767FeD77b1750294`

#### Zcash

![Zcash](/img/zcash.png){:height="80px" width="80px"} `t1XyjwJtViEqATUnPKG6mdUwN4TkoCfxzcM`

Let me know if you would like to use some other currency.

*Currently, there are no rewards for donating with Crypto currencies, as we can't programmatically match them.*

### [Donating with PayPal](https://paypal.me/JanHovancik) [![Donate with PayPal](https://img.shields.io/static/v1?label=Donate&message=%E2%9D%A4&logo=Paypal&color=success)](https://paypal.me/JanHovancik)
PayPal has fees.

*Currently, there are no rewards for donating via PayPal, as we can't programmatically match them.*

### [Contributing code](/stretchly/features#development)

*By contributing code (or translations), you will be able to access Contributor Preferences, Sync Preferences.
You won't be able to chat on Discord.*



Another way to support *Stretchly* is to tell your friends about it, to like it at <a href="https://alternativeto.net/software/stretchly/">AlternativeTo</a> and on softpedia <a href="http://www.softpedia.com/get/Others/Home-Education/stretchly.shtml">1</a>, <a href="http://mac.softpedia.com/get/Utilities/stretchly.shtml">2</a> or anywhere else.
