
<img src="/stretchly/img/stretchly_128x128.png" alt="stretchly" height="90" style="float: right;"/>

## [Stretchly](/stretchly)
**The break time reminder app**

*Stretchly* is a cross-platform <a href="http://github.com/hovancik/stretchly">open source</a> app that reminds you to take breaks when working on your computer.

<p class="center bigger">
  <a href="/stretchly/downloads">Downloads</a> |
  <a href="/stretchly/features">Features</a> |
  <a href="/blog/tags/stretchly/">News</a> |
  <a href="https://github.com/hovancik/stretchly/issues">Report an issue</a> |
  <a href="https://my.stretchly.net/">Newsletter</a>
</p>
