---

title: Jan Hovancik, software developer - guitar player - poetry lover
priority: 1.0

---
<div class="index">
  <h1 class="index__name">
    <a href="/">Jan Hovancik</a>
  </h1>
  <h2 class="index__desc">
    software developer - guitar player - poetry lover
  </h2>
  <div class="center">
    &middot;
  </div>
  <h2 class="center">Experience</h2>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Project manager and Web developer</h2>
    <h3>Mixit, Prague (Czechia), 2016 – 2018</h3>
    <p>
      Came to use my knowledge from Ruby and found myself introducing Mixit
      to agile methodology and enjoying facilitating good level of
      communication between departments and external entities.
      I was a part of many projects like development of platform for
      wholesales customers that ensures great experience for customers
      while giving sales department all the tools and data they need.
      I was putting my time and my mind to programming features for the website
       and internal tools as much as to the role of project manager.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Web developer</h2>
    <h3>6 Artisans, Prague (Czechia), 2015 – 2016</h3>
    <p>
      Working in small agency I had the opportunity to become more than just developer.
      I took part in the process in which we were helping clients to identify weak spots and to find the technical or non-technical solution.
      Chance to see the projects from the first ideation to deploy.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Web developer</h2>
    <h3>Parity Cube, Mumbai (India), 2013 – 2014</h3>
    <p>
      AIESEC internship in India delivered all it promised -
      working with new technology - check, more time to learn on the job - check,
      multicultural experience - check, testing and strengthening
      problem solving abilities in extreme situations - check.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>IT specialist</h2>
    <h3>Mobis Slovakia, Zilina (Slovakia), 2011 - 2012</h3>
    <p>
      Working on small in-house tools while supporting production department and assembly lines.
      Chance to compare what I was learning at school with realities of day to day job.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Other notable experiences</h2>
    <h3>Kings Dominion, Virginia (USA)</h3>
    <p>
      3 summers doing Work and Travel program in family amusement park to better
      my English skills and enjoy multicultural enviroment.
    </p>
    <h3>AIESEC, Ukraine</h3>
    <p>
      Volunteering internship via AIESEC in Summer camp for kids.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <h2 class="center">Education</h2>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Computer Science</h2>
    <h3>University of Zilina, Zilina (Slovakia), 2006 – 2012</h3>
    <p>
      Bachelor: Informatics, Master: Information and communication networks.<br/>
      Activities and Societies: ESN, AIESEC
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Erasmus</h2>
    <h3>Technical University of Sofia, Sofia (Bulgaria), 2009 – 2010</h3>
    <p>
      Student exchange program.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Business cooperation program</h2>
    <h3>Yeungjin College, Daegu (South Korea), 2012 – 2013</h3>
    <p>
      Partaking in Mechanical engineering classes with Korean students, leading English zone and joining activities like debate club, English speech contest and so on.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>
      <a href="/jan_hovancik.pdf">download as pdf</a>
    </h3>
  </div>
  <div class="center">
    &middot;
  </div>
</div>
<footer>
  <p class="footer__name"><%= link_to "Jan Hovancik", "/" %> 2014+</p>
  <p class="footer__desc">
    software developer - guitar player - poetry lover
  </p>
</footer>
<div class="center">
  &middot;
</div>
