---

title: Jan Hovancik, software developer - guitar player - poetry lover
priority: 1.0

---
<div class="index">
  <h1 class="index__name">
    <a href="/">Jan Hovancik</a>
  </h1>
  <h2 class="index__desc">
    software developer - guitar player - poetry lover
  </h2>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <p>
      Project manager and software developer.
      Passionate about product and development of software and people.
    </p>
    <p>
      I believe in power of open-source, communication and sharing of knowledge.
    </p>
    <p>
      I'm listing my full time occupation together with my open-source projects,
      mentoring experience and more, since they are equally important to me
      and make me who I am.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Mentorship for early-career Ruby developers</h2>
    <h3>Ruby Me, online, 2019</h3>
    <p>
      Helping a developer from Nigeria to get professional development experience
      by contributing to <a href="https://www.if-me.org/">if me</a> -
      a community for mental health experiences.
    </p>
    <p><i>Docker, Ruby on Rails, ReactJS</i></p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Product management</h2>
    <h3>Box+Dice, Prague (Czechia), 2018 -</h3>
    <p>
      After wearing two hats of developer and project manger, I got tempted
      to cover more ground in product and found myself in the Australian company
      working with teams and partners around the globe. I enjoyed communication
      with third parties and finding a way how to best fulfill their wishes while
      respecting the needs of our customers. I had the opportunity to see
      the work of a developer from different perspective after I was responsible
      for prioritizing, allocation and managing the team of developers and testers.
      After implementing several integrations and successful release of mobile app,
      my current goal is the alignment of all of the platforms of the company.
    </p>
    <p><i>Agile, Product management, Business analysis</i></p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Rails Girls Summer of Code</h2>
    <h3>Rails Girls, online, 2018</h3>
    <p>
      Mentoring a team of 2 developers to work on my open-osurce
      <a href="https://hovancik.net/strechly">stretchly</a> application to help
      them expand their skill set.
    </p>
    <p><i>ElectronJS, NodeJS</i></p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Project manager and Web developer</h2>
    <h3>Mixit, Prague (Czechia), 2016 – 2018</h3>
    <p>
      Came to use my knowledge from Ruby and found myself introducing Mixit
      to agile methodology and enjoying facilitating good level of
      communication between departments and external entities.
      I was a part of many projects like development of platform for
      wholesales customers that ensures great experience for customers
      while giving sales department all the tools and data they need.
      I was putting my time and my mind to programming features for the website
      and internal tools as much as to the role of project manager.
    </p>
    <p>
      As part of my job, I've released <a href="https://github.com/hovancik/mina-supervisord">mina-supervisord</a>,
      <a href="http://supervisord.org/">Supervisor</a>  wrapper for <a href="https://github.com/mina-deploy/mina">mina</a>.
    </p>
    <p><i>Ruby on Rails, Agile</i></p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Rails Girls Summer of Code</h2>
    <h3>Rails Girls, online, 2016</h3>
    <p>
      Coaching a team of <a href="https://railsgirlssummerofcode.org/blog/2016-10-01-goodbye-xyz">2 developers</a>
      to help them kick-start their developer carreer
      and contribute to <a href="https://keystonejs.com/">KeystoneJS</a>.
    </p>
    <p><i>ReactJS, NodeJS, Git</i></p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>stretchly</h2>
    <h3>open-source, 2016</h3>
    <p>
      <a href="https://hovancik.net/stretchly">stretchly</a> is cross-platform app that reminds you
      to take breaks when working with computer. It is still growing and evolving
       to the needs of the users and my greatest joy is the community that evolved
       around it.
    </p>
    <p><i>ElectronJS, NodeJS</i></p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Web developer</h2>
    <h3>6 Artisans, Prague (Czechia), 2015 – 2016</h3>
    <p>
      Working in small agency I had the opportunity to become more than just developer.
      I took part in the process in which we were helping clients to identify weak spots
      and to find the technical or non-technical solution.
      Chance to see the projects from the first ideation to deploy.
      The nature of projects varied from the game for HBO's Mamon, Techambition's
      <a href="https://en.techambition.com/">teaching platform</a>,
      Domena's <a href="https://domena.cz">registration system</a> to sms based <a href="https://idodo.cz/">DoDo</a> delivery.
    </p>
    <p><i>Ruby on Rail, ReactJS, NodeJS, Agile</i></p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>BSD</h2>
    <h3>open-source, 2013</h3>
    <p>
      My interest in BSD operating systems grew into few open source projects:
      <a href="https://bsdsec.net">BSDSec</a> (deadsimple BSD Security Advisories and Announcements),
      <a href="https://discovebsd.com">DiscoverBSD</a> (community driven link-log) and
      <a href="https://github.com/discoverbsd/awesome-bsd">Awesome BSD</a> (database of BSD-related awesomeness).
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Web developer</h2>
    <h3>Parity Cube, Mumbai (India), 2013 – 2014</h3>
    <p>
      AIESEC internship in India delivered all it promised -
      working with new technology - check, more time to learn on the job - check,
      multicultural experience - check, testing and strengthening
      problem solving abilities in extreme situations - check.
      It was my first experience with <a href="https://www.ruby-lang.org/">Ruby</a>
      and <a href="https://rubyonrails.org/">Ruby on Rails</a> and I'm in love with it since.
    </p>
  </div>
  <p><i>Ruby on Rail, Angular</i></p>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>IT specialist</h2>
    <h3>Mobis Slovakia, Zilina (Slovakia), 2011 - 2012</h3>
    <p>
      Working on small in-house tools while supporting production department and assembly lines.
      Chance to compare what I was learning at school with realities of day to day job.
    </p>
    <p><i>.NET</i></p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Other notable experiences</h2>
    <h3>Kings Dominion, Virginia (USA)</h3>
    <p>
      3 summers doing Work and Travel program in family amusement park to better
      my English skills and enjoy multicultural environment.
    </p>
    <h3>AIESEC, Ukraine</h3>
    <p>
      Volunteering internship via AIESEC in Summer camp for kids.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <h2 class="center">Education</h2>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Computer Science</h2>
    <h3>University of Zilina, Zilina (Slovakia), 2006 – 2012</h3>
    <p>
      Bachelor: Informatics, Master: Information and communication networks.<br/>
      Activities and Societies: ESN, AIESEC
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Erasmus</h2>
    <h3>Technical University of Sofia, Sofia (Bulgaria), 2009 – 2010</h3>
    <p>
      Student exchange program.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h2>Business cooperation program</h2>
    <h3>Yeungjin College, Daegu (South Korea), 2012 – 2013</h3>
    <p>
      Partaking in Mechanical engineering classes with Korean students, leading English zone and joining activities like debate club, English speech contest and so on.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>
      <a href="/jan_hovancik.pdf">download as pdf</a>
    </h3>
  </div>
  <div class="center">
    &middot;
  </div>
</div>
<footer>
  <p class="footer__name"><%= link_to "Jan Hovancik", "/" %> 2014+</p>
  <p class="footer__desc">
    software developer - guitar player - poetry lover
  </p>
</footer>
<div class="center">
  &middot;
</div>
