---

title: Jan Hovancik, software developer - guitar player - poetry lover
priority: 1.0

---
<div class="index">
  <h1 class="index__name">
    Jan Hovancik
  </h1>
  <h2 class="index__desc">
    software developer - guitar player - poetry lover
  </h2>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <p>
      Working with <a href="http://mixit.cz">Mix.it</a> to bring you
      the best musli experience.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__blog">
    <p>
      The latest <a href="/blog">blog</a> posts:
    </p>
    <% blog.articles.first(5).each do |article| %>
      <p>
        <%= link_to(article.title, article.url)  %>
      </p>
    <% end %>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__bsd">
    <p>
      Also writing at <a href="https://www.discoverbsd.com/">DiscoverBSD</a>,
      <a href="https://bsdsec.net">BSDSec</a>
      and <a href="https://talks.discoverbsd.com">some more</a>
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__links">
    <p>
      Find more at
      <a href="https://github.com/hovancik">github</a>,
      <a href="https://twitter.com/JanHovancik">twitter</a>,
      <a href="https://www.linkedin.com/in/janhovancik">linkedin</a> or send an
      <a href="mailto:conta.srdr@gmail.com">email</a>.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
</div>
