---

title: Jan Hovancik, software developer - guitar player - poetry lover
priority: 1.0

---
<div class="index">
  <h1 class="index__name">
    <a href="/">Jan Hovancik</a>
  </h1>
  <h2 class="index__desc">
    software developer - guitar player - poetry lover
  </h2>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <p>
      Working with <a href="http://mixit.cz">Mix.it</a> to bring you
      the best musli experience. <sup><a href="/timeline">timeline</a></sup>
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__blog">
    <p>
      The latest <a href="/blog">blog</a> posts:
    </p>
    <% blog.articles.first(5).each do |article| %>
      <p>
        <%= link_to(article.title, article.url)  %>
      </p>
    <% end %>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__bsd">
    <p>Open source:</p>
    <p><a href="https://bsdsec.net">BSDSec</a> - deadsimple BSD Security Advisories and Announcements</p>
    <p><a href="https://hovancik.net/stretchly">stretchly</a> - break time reminder app</p>
    <p><a href="https://github.com/hovancik/middleman-github-deploy#what-is-mgd-">middleman-github-deploy</a> - build your Middleman site and push it to your gh-pages branch</p>
    <p><a href="https://github.com/hovancik/mina-supervisord">mina-supervisord</a> - Supervisor wrapper for mina</p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__links">
    <p>
      See more at
      <a href="https://github.com/hovancik">github</a>,
      <a href="https://twitter.com/JanHovancik">twitter</a>,
      <a href="https://www.linkedin.com/in/janhovancik">linkedin</a> or send an
      <a href="mailto:conta.srdr@gmail.com">email</a>.
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
</div>
