---
title: Jan Hovancik, Open-source enthusiast, Product Manager and much more.
priority: 1.0
---

<%= partial 'partials/header' %>
<h2>
  The latest
  <a href="/blog">blog</a>
  posts:
</h2>
<% blog.articles.first(5).each do |article| %>
  <p>
    <%= link_to(article.title, article.url) %>
  </p>
<% end %>
<h2>Selected projects / Open source: (<a href="https://www.patreon.com/hovancik">become a patron</a>)</h2>
<p>
  <a href="https://hovancik.net/stretchly">Stretchly</a>
  - The break time reminder app
</p>
<p>
  <a href="https://discoverbsd.com">DiscoverBSD</a>
  - The BSD community linklog
</p>
<p>
  <a href="https://bsdweekly.com">BSD Weekly</a>
  - Free, once–weekly e-mail round-up of BSD news and articles
</p>
<p>
  <a href="https://bsdsec.net">BSDSec</a>
  - The deadsimple BSD Security Advisories and Announcements
</p>
<p>
  <a href="https://github.com/hovancik/middleman-github-deploy#what-is-mgd-">middleman-github-deploy</a>
  - Build your Middleman site and push it to your gh-pages branch
</p>
<p>
  <a href="https://github.com/hovancik/mina-supervisord">mina-supervisord</a>
  - Supervisor wrapper for mina
</p>
