---
title: Jan Hovancik - Open-source enthusiast, connecting the dots in Product teams.
priority: 1.0
---

<%= partial 'partials/header' %>
<h2>Let's meet</h2>
<p>Did you just finish an awesome book and want to share?
   Or maybe take a break from whatever you're doing?
</p>
<p>Let's meet and chat. My topics of interests include:</p>
<ul>
  <li>reading - mainly scifi</li>
  <li>podcasts - pretty much any topic</li>
  <li>product management - my daily work</li>
  <li>open source - I've done some</li>
  <li>Linux and BSDs</li>
  <li>open banking and open finance - my current work</li>
  <li>... and whatever you're passionate about</li>
</ul>
<p>
  <!-- Calendly link widget begin -->
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
  <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/hovancik/30min'});return false;">Schedule time with me</a>.
  <!-- Calendly link widget end -->
</p>
<p>If the time available does not suit you, ping me an <a href="mailto:jan@hovancik.net">email</a> and we can figure something out.</p>
