---
title: stretchly - break time reminder app
priority: 1.0
icon: '/img/stretchly.ico'
---
<div class="index">
  <h1 class="index__name">
    <a href="/">Jan Hovancik</a>
  </h1>
  <h2 class="index__desc">
    software developer - guitar player - poetry lover
  </h2>
  <div class="center">
    &middot;
  </div>
  <p>
    <img src="/img/stretchly_128x128.png" alt="stretchly" height="90" style="float: right;"/>
  </p>
  <h3>stretchly</h3>
  <p>
    break time reminder app
  </p>
  <p>
    <i>stretchly</i> is cross-platform <a href="http://github.com/hovancik/stretchly">open source</a>
    app that reminds you to take breaks when working with computer.
  </p>
  <p>
    <img src="/img/stretchly.png" alt="stretchly" width="100%"/>
  </p>
  <p>
    It runs in your tray and shows reminder window every 10 minutes,
    that is open for 20 seconds, contaning idea for microbreak.
  </p>
  <p>
    You can pause/resume reminding of breaks. On Windows and macOS, you can set
     app to start at login.
  </p>
  <p>
    <img src="/img/stretchly_tray.png" alt="stretchly"/>
  </p>
  <p>
    Microbreaks can be customized:
    <ul>
      <li>
        you can set duration and interval of break
      </li>
      <li>
        you can choose from different color schemes
      </li>
      <li>
        you can pick a sound to be played at the end of the break
      </li>
    </ul>
  </p>
  <p>
    <img src="/img/stretchly-settings-website.png" alt="stretchly setting" width="100%"/>
  </p>
  <div class="center">
    &middot;
  </div>
  <p class="center">
    <a href="/blog/tags/stretchly/">news</a>
    <a href="https://github.com/hovancik/stretchly/releases">downloads</a>
    <a href="https://github.com/hovancik/stretchly/issues">issues</a>
  </p>
  <div class="center">
    &middot;
  </div>
  <p>
    If you like it,  consider supporting it via flattr.
  </p>
  <div class="center">
    &middot;
  </div>
  <p class="center">
    <script id='fbp11a7'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//button.flattr.com/view/?fid=en32oj&button=compact&url=https%3A%2F%2Fhovancik.net%2Fstretchly';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbp11a7');</script>
  </p>
  <div class="center">
    &middot;
  </div>
  <p>
    Another way to support it is to like it at <a href="https://alternativeto.net/software/stretchly/">AlternativeTo</a>
    and on softpedia <a href="http://www.softpedia.com/get/Others/Home-Education/stretchly.shtml">1</a>,
    <a href="http://mac.softpedia.com/get/Utilities/stretchly.shtml">2</a> or anywhere else.
  </p>
  <div class="center">
    &middot;
  </div>
  <p>
    Sounds used in this application are listed <a href="http://freesound.org/people/hovancik/bookmarks/category/58865/">here</a>.
    <ul>
      <li>
        crystal glass by <a href="http://freesound.org/people/mlteenie/">mlteenie</a>,
        available under the <a href="http://creativecommons.org/licenses/by/3.0/">Attribution License</a>.
      </li>
      <li>
        wind chime by <a href="http://freesound.org/people/GnoteSoundz/">GnoteSoundz</a>,
        available under <a href="http://creativecommons.org/publicdomain/zero/1.0/">the Creative Commons 0 License</a>.
      </li>
      <li>
        tic toc by <a href="http://freesound.org/people/magundah14/">magundah14</a>,
        available under <a href="http://creativecommons.org/publicdomain/zero/1.0/">the Creative Commons 0 License</a>.
      </li>
      <li>
        silence by <a href="http://freesound.org/people/parcodeisuoni/">parcodeisuoni</a>,
        available under the <a href="http://creativecommons.org/licenses/by/3.0/">Attribution License</a>.
      </li>
    </ul>
  </p>
  <div class="center">
    &middot;
  </div>
</div>
<footer>
  <p class="footer__name"><%= link_to "Jan Hovancik", "/" %> 2014+</p>
  <p class="footer__desc">
    software developer - guitar player - poetry lover
  </p>
</footer>
<div class="center">
  &middot;
</div>
