---

title: Jan Hovancik, software developer - guitar player - poetry lover
priority: 1.0

---
<div class="index">
  <h1 class="index__name">
    <a href="/">Jan Hovancik</a>
  </h1>
  <h2 class="index__desc">
    software developer - guitar player - poetry lover
  </h2>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>2017</h3>
    <p>
      - released <a href="https://github.com/hovancik/mina-supervisord">mina-supervisord</a>, Supervisor wrapper for mina
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>2016</h3>
    <p>
      - created <a href="/stretchly">stretchly</a>, break time reminder app
    </p>
    <p>
      - coaching <a href="http://www.xyzcode.me/">XYZTeam</a> during Rails Girls Summer of Code
    </p>
    <p>
      - started working with <a href="http://mixit.cz">Mix.it</a> to bring you
      the best musli experience
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>2015</h3>
    <p>
      - become one of <a href="http://6artisan.com">6 Artisans</a> and moved to Prague, Czech Republic
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>2014</h3>
    <p>
      - started <a href="https://bsdsec.net/">BSDSec</a>, deadsimple BSD Security Advisories and Announcements
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>2013</h3>
    <p>
      - started <a href="https://discoverbsd.com/">DiscoverBSD</a>
    </p>
    <p>
      - moved to Mumbai, India to work on some of the <a href="http://paritycube.com">Parity Cube's</a> awesomeness
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>2012</h3>
    <p>
      - moved to Deagu, South Korea to take scholarship at Yeungjin College
    </p>
    <p>
      - graduated University of Zilina, Slovakia
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>2011</h3>
    <p>
      - first full-time job at Mobis Slovakia s.r.o.
    </p>
    <p>
      - summer with Work and Travel USA, Kings Dominion amusement park
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>2010</h3>
    <p>
      - development <a href="https://conta-ukraine.blogspot.com">internship</a> with AIESEC in Ukraine
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>2009</h3>
    <p>
      - ERASMUS at Technical University of Sofia, Bulgaria
    </p>
    <p>
      - summer with Work and Travel USA, Kings Dominion amusement park
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>2008</h3>
    <p>
      - summer with Work and Travel USA, Kings Dominion amusement park
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>2006</h3>
    <p>
      - started attending University of Zilina, Slovakia
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="center">
    &middot;
  </div>
  <div class="index__now">
    <h3>1987</h3>
    <p>
      - born in Slovakia
    </p>
  </div>
  <div class="center">
    &middot;
  </div>
</div>
<footer>
  <p class="footer__name"><%= link_to "Jan Hovancik", "/" %> 2014+</p>
  <p class="footer__desc">
    software developer - guitar player - poetry lover
  </p>
</footer>
<div class="center">
  &middot;
</div>
