---
title: Jan Hovancik
priority: 1.0
---
<%= partial 'partials/header' %>
<p>
  <strong>
    Looking for <a href="/cv">CV</a>?
  </strong>
</p>
<h2>2020</h2>
<p>
  <li>
    joined <a href="https://www.cngroup.dk/">CN Group</a> as Product Manager to
    help their customers build useful products
  </li>
  <li>
    released <a href="https://hovancik.net/stretchly">Stretchly 1.0</a>
  </li>
  <li>
    started publishing <a href="https://bsdweekly.com/">BSD Weekly</a>,
  a free, once–weekly e-mail round-up of BSD news and articles
  </li>
</p>
<h2>2019</h2>
<p>
  <li>
    mentoring early-career Ruby developers with <a href="https://rubyme.org/">RubyMe</a>
  </li>
</p>
<h2>2018</h2>
<p>
  <li>
    joined <a href="https://www.boxdice.com.au/">Box+Dice</a> to help them
  create the future of real estate
  </li>
  <li>
    revamp of <a href="https://discoverbsd.com">DiscoverBSD</a>
  <li>
    partaking in Rails Girls Summer of Code with <a href="/stretchly">stretchly</a>
  </li>
</p>
<h2>2017</h2>
<p>
  <li>
    released <a href="https://github.com/hovancik/mina-supervisord">mina-supervisord</a>, Supervisor wrapper for mina
  </li>
</p>
<h2>2016</h2>
<p>
  <li>
    created <a href="/stretchly">Stretchly</a>, the break time reminder app
  </li>
  <li>
    coaching <a href="https://railsgirlssummerofcode.org/blog/2016-10-01-goodbye-xyz">XYZTeam</a> during Rails Girls Summer of Code
  </li>
  <li>
    started working with <a href="http://mixit.cz">Mix.it</a> to bring you
  the best musli experience
</li>
</p>
<h2>2015</h2>
<p>
  <li>
    become one of <a href="http://6artisan.com">6 Artisans</a> and moved to Prague, Czech Republic
  </li>
</p>
<h2>2014</h2>
<p>
  <li>
    started <a href="https://bsdsec.net/">BSDSec</a>, the deadsimple BSD Security Advisories and Announcements
  </li>
</p>
<h2>2013</h2>
<p>
  <li>
    started <a href="https://discoverbsd.com/">DiscoverBSD</a>
  </li>
  <li>
    moved to Mumbai, India to work on some of the <a href="http://paritycube.com">Parity Cube's</a> awesomeness
  </li>
</p>
<h2>2012</h2>
<p>
  <li>
    moved to Deagu, South Korea to take scholarship at Yeungjin College
  </li>
  <li>
    graduated University of Zilina, Slovakia
  </li>
</p>
<h2>2011</h2>
<p>
  <li>
    first full-time job at Mobis Slovakia s.r.o.
  </li>
  <li>
    summer with Work and Travel USA, Kings Dominion amusement park
  </li>
</p>
<h2>2010</h2>
<p>
  <li>
    development <a href="https://conta-ukraine.blogspot.com">internship</a> with AIESEC in Ukraine
  </li>
</p>
<h2>2009</h2>
<p>
  <li>
    ERASMUS at Technical University of Sofia, Bulgaria
  </li>
  <li>
    summer with Work and Travel USA, Kings Dominion amusement park
  </li>
</p>
<h2>2008</h2>
<p>
  <li>
    summer with Work and Travel USA, Kings Dominion amusement park
  </li>
</p>
<h2>2006</h2>
<p>
  <li>
    started attending University of Zilina, Slovakia
  </li>
</p>
<h2>1987</h2>
<p>
  <li>
    born in Slovakia
  </li>
</p>
